.react-calendar {
  width: 2000px !important;
  max-width: 100% !important;
}

.react-calendar__navigation button {
  font-size: 25px !important;
}

.react-calendar--doubleView {
  width: 4000px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .react-calendar__tile {
    height: 30px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .react-calendar__tile {
    height: 30px !important;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .react-calendar__tile {
    height: 35px !important;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .react-calendar__tile {
    height: 40px !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .react-calendar__tile {
    height: 45px !important;
  }
}

/* Extra large devices (large laptops and desktops, 2400px and up) */
@media only screen and (min-width: 2400px) {
  .react-calendar__tile {
    height: 50px !important;
  }
}
