.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-md) var(--spacing-mdl);
  }
  
  .hamburger {
    position: absolute;
    top: 38px;
    right: var(--spacing-mdl);
    z-index: 10;
    display: none;
    appearance: none;
    border: none;
    background: transparent;
  }
  
  .hamburger img {
    display: block;
    width: 40px;
    cursor: pointer;
  }
  
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    z-index: 10;
  }
  
  .logo img {
    width: 48px;
    object-fit: contain;
  }
  
  .logo h3 {
   margin-bottom: -10px;
   margin-left: var(--spacing-sm);
   transition: var(--transition);
   text-transform: uppercase;
   font-weight: 800;
  }
  
  .logo:hover h3 {
    color: var(--color-yellow);
  }
  
  .navigation ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
  .navigation li {
    margin-left: var(--spacing-md);
    margin-bottom: -8px;
  }
  
  .navigation a {
    font-weight: bold;
  
  }
  
  @media (max-width: 950px) {
    .hamburger {
      display: block;
    }
  
    .header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navigation ul {
      flex-direction: column;
      background: var(--color-charcoal);
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 5;
      justify-content: center;
      padding-left: var(--spacing-lg);
      pointer-events: none;
      transform: scale(1.05);
      opacity: 0;
      transition: var(--transition);
      will-change: transform, opacity;
    }
  
    .active ul {
      pointer-events: auto;
      transform: scale(1);
      opacity: 1;
    }
  
    .navigation li {
      margin-left: 0;
      margin-bottom: 0;
      margin-top: var(--spacing-md);
    }
  
    .navigation a {
      font-size: var(--font-size-h1);
    }
  }
  
  @media (max-width: 430px) {
    .header {
      padding: var(--spacing-sm) var(--spacing-sm);
    }
  
    .hamburger {
      position: absolute;
      top: 22px;
      right: var(--spacing-sm);
    }
  
  }
  
  @media (max-height: 545px) and (max-width: 950px) {
    .navigation a {
      font-size: var(--font-size-h4);
    }
  
    .navigation li {
      margin-top: var(--spacing-sm);
    }
  
    .navigation ul {
      justify-content: flex-end;
      padding-bottom: var(--spacing-xs);
    }
  
  }